.Component_OrganizationChannelLink {
  .link {
    &:hover {
      .dropmenu-icon {
        display: block;
      }
    }
  }

  .dropmenu-icon {
    display: none;
    cursor: pointer;
    padding: 0 5px;
  }

  .dropdown-item {
    position: relative;
  }

  .dropdown-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .dropdown-toggle::after {
    display: none;
  }
}
