.Component_ImageDropzone {
  width: 100%;
  padding: 100px;
  border: dashed 2px grey;
  cursor: pointer;
  background-color: lightgrey;
  text-align: center;
  font-size: 24px;
  color: dimgrey;

  p {
    margin-bottom: 0;
  }
}
