.Component_OrganizationArticleNewSideBar {
  padding: 30px;

  .logo {
    max-height: 45px;
    margin: 0 auto;
  }

  hr {
    height: 1px;
    margin: 28px 10px;
    color: #cccccc;
    border-color: #cccccc;
  }
}
