
.pf-icon-music:before { content: '\e800'; } /* '' */
.pf-icon-hash:before { content: '\e801'; } /* '' */
.pf-icon-keypad:before { content: '\e802'; } /* '' */
.pf-icon-color-picker:before { content: '\e803'; } /* '' */
.pf-icon-left:before { content: '\e804'; } /* '' */
.pf-icon-monitor:before { content: '\e805'; } /* '' */