@import "../../assets/styles/variables.scss";

.Component_WrapperSideBar {
  &.with-navbar {
    margin-top: $sidebar-height;
  }

  .sidebar-container {
    position: fixed;
    background-color: #ffffff;
    min-width: $sidebar-width;
    width: $sidebar-width;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100%;

    &.with-navbar {
      min-height: calc(100vh - $sidebar-height);
    }

    .link {
      width: 100%;
      display: flex;
      align-items: center;
      color: black;
      padding: 7px 5px;
      text-decoration: none;

      &.active {
        color: $primary;
      }

      span {
        font-size: 14px;
        font-weight: 500;
        margin-left: 10px;
        vertical-align: text-bottom;
      }

      .sidebar-icon {
        font-size: 24px;
      }
    }
  }

  .children-container {
    max-height: 100vh;
    margin-left: $sidebar-width;
  }
}
