@import '../../assets/styles/variables.scss';

.Component_WrapperSideBar {
  &.with-navbar {
    margin-top: $sidebar-height;
  }

  .sidebar-container {
    position: fixed;
    min-width: $sidebar-width;
    width: $sidebar-width;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: solid 1px #e4e4e4;
    padding: 12px;

    &.with-navbar  {
      min-height: calc(100vh - $sidebar-height);
    }

    hr {
      height: 1px;
      width: 100%;
      margin-top: 8px;
    }

    .link {
      color: gray;
      padding: 10px;
      text-decoration: none;
      border-left: 3px solid transparent;

      &.active {
        color: $primary;
      }

      &:hover {
        background-color: #eaeaea;
        border-radius: 5px;
      }
    }
  }

  .children-container {
    max-height: 100vh;
    margin-left: $sidebar-width;
    background-color: #FBFBFB;
  }
}
