/** Bootstrap overrides **/
$primary: #3B3461;
$scondary: #F6564B;
$font-family-sans-serif: "Lato";

// Modals
$modal-dialog-margin-y-sm-up: 6rem;
/** /Bootstrap overrides **/

$sidebar-width: 260px;
$sidebar-height: 52px;