/** Bootstrap overrides **/
$primary: #3b3461;
$scondary: #f6564b;
$font-family-sans-serif: "DM Sans";

// Modals
$modal-dialog-margin-y-sm-up: 6rem;
/** /Bootstrap overrides **/

$sidebar-width: 300px;
$sidebar-height: 52px;
